*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Poppins, sans-serif;
}

body{
    background:#111;
    color:white;
}

/* HERO */
#hero{
    position:relative;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 5%;
}

#video-background{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    top:0;
    left:0;
    z-index:-1;
    filter:brightness(55%);
}

/* NAVBAR */
.navbar{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1.2rem;
}

.logo{
    font-size:1.6rem;
    font-weight:700;
}

.nav-links{
    list-style:none;
    display:none;
    flex-direction:column;
    text-align:center;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:1.1rem;
    margin:8px 0;
}

.nav-links.open{
    display:flex;
}

.menu-toggle{
    background:none;
    border:none;
    color:white;
    font-size:2rem;
    cursor:pointer;
}

/* SECTIONS */
section{
    padding:4rem 6%;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
}

.skill-card{
    background:#333;
    padding:1rem;
    border-radius:6px;
}

#projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:2rem;
}

.project-card{
    background:#1f1f1f;
    padding:20px;
    border-radius:10px;
    border:1px solid #333;
}

/* FORM */
#contact-form{
    max-width:500px;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

#contact-form input,
#contact-form textarea{
    width:100%;
    padding:15px;
    border-radius:8px;
    border:1px solid #3a3a3a;
    background:#1a1a1a;
    color:white;
    font-size:1rem;
    outline:none;
    transition:0.3s ease;
}

#contact-form input:focus,
#contact-form textarea:focus{
    border-color:#6a5acd;
    box-shadow:0 0 8px #6a5acd;
}

#contact-form button{
    padding:14px;
    background:#6a5acd;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
    font-size:1.1rem;
    transition:0.3s ease;
}

#contact-form button:hover{
    background:#7d6cff;
}

#form-message{
    margin-top:15px;
    font-size:1.1rem;
}

/* RESPONSIVE */
@media(min-width:768px){
    .navbar{
        flex-direction:row;
        justify-content:space-between;
    }
    .nav-links{
        display:flex;
        flex-direction:row;
        gap:1.5rem;
    }
    .menu-toggle{
        display:none;
    }
}
h1,h2{
    cursor: pointer;
    color: white;
}
h1:hover{
    cursor: pointer;
    color: blue;
}
section:hover {
           transform: translateY(-5px);
           box-shadow: 0 4px 12px rgba(60, 114, 60, 0.5);
           cursor: pointer;  
        }
